##Xft
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

##Urxvt
URxvt*geometry: 80x24
URxvt*depth: 32
URxvt*background: [90]Black
URxvt*foreground: White
URxvt*scrollBar: false
URxvt.font: 9x12
URxvt.font: xft:inconsolata:size=12

##Rofi
rofi.color-normal: #1f2025,  #ffffff, #1f2025,  #1793d1,  #ffffff
##Background, foreground, background alt, highlight background, highlight foreground

rofi.padding: 0
rofi.color-window: #1f2025, #1f2025
rofi.fuzzy: true
rofi.hide-scrollbar: true
rofi.opacity: 95
rofi.width: 30
rofi.lines: 10
